{
  "presets": [
    ["es2015", { "modules": false }],
    "./preset"
  ],
  "env": {
    "production": {
      "plugins": [
        "lodash"
      ]
    },
    "development": {
    },
    "testing": {
    }
  }
}
