{
  "env": {
    "production": {
      "presets": ["es2015-webpack", "./preset"],
      "plugins": ["lodash"]
    },
    "development": {
      "presets": ["es2015-webpack", "./preset"]
    },
    "testing": {
      "presets": ["es2015", "./preset"]
    }
  }
}
